# Environnement virtuel Python
venv/

# Fichiers cache Python
__pycache__/
*.pyc

# Fichiers de données générés et lourds (on garde le corpus.txt visible)
data/vocabulaire.json
data/*.pth
*.pth

# Fichiers système
.DS_Store